<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}">
    <head>
        <title th:text="#{event.list.headline}" />
    </head>
    <body>
        <div layout:fragment="content">
            <div class="flex flex-wrap mb-6">
                <h1 th:text="#{event.list.headline}" class="grow text-3xl md:text-4xl font-medium mb-2" />
                <div>
                    <a th:href="@{/events/add}" th:text="#{event.list.createNew}" class="inline-block text-white bg-blue-600 hover:bg-blue-700 focus:ring-blue-300  focus:ring-4 rounded px-5 py-2" />
                </div>
            </div>
            <div th:if="${events.empty}" th:text="#{event.list.empty}" />
            <div th:if="${!events.empty}" class="overflow-x-auto">
                <table class="w-full">
                    <thead>
                        <tr>
                            <th th:text="#{event.eventID.label}" scope="col" class="text-left p-2" />
                            <th th:text="#{event.resources.label}" scope="col" class="text-left p-2" />
                            <th th:text="#{event.minutesofMeeting.label}" scope="col" class="text-left p-2" />
                            <th th:text="#{event.noOfAttendees.label}" scope="col" class="text-left p-2" />
                            <th th:text="#{event.date.label}" scope="col" class="text-left p-2" />
                            <th th:text="#{event.fromTime.label}" scope="col" class="text-left p-2" />
                            <th th:text="#{event.toTime.label}" scope="col" class="text-left p-2" />
                            <th th:text="#{event.venuedAt.label}" scope="col" class="text-left p-2" />
                            <th><!-- --></th>
                        </tr>
                    </thead>
                    <tbody class="border-t-2 border-black">
                        <tr th:each="event : ${events}" class="odd:bg-gray-100">
                            <td th:text="${event.eventID}" class="p-2" />
                            <td th:text="${event.resources}" class="p-2" />
                            <td th:text="${event.minutesofMeeting}" class="p-2" />
                            <td th:text="${event.noOfAttendees}" class="p-2" />
                            <td th:text="${event.date}" class="p-2" />
                            <td th:text="${event.fromTime}" class="p-2" />
                            <td th:text="${event.toTime}" class="p-2" />
                            <td th:text="${event.venuedAt}" class="p-2" />
                            <td class="p-2">
                                <form th:action="@{/events/delete/{eventID}(eventID=${event.eventID})}" th:data-confirm-message="#{delete.confirm}" method="post" class="js-submit-confirm float-right">
                                    <a th:href="@{/events/edit/{eventID}(eventID=${event.eventID})}" th:text="#{event.list.edit}" class="inline-block text-white bg-sky-500 hover:bg-sky-600 focus:ring-sky-200focus:ring-3 rounded px-2.5 py-1.5 text-sm" />
                                    <button th:text="#{event.list.delete}" type="submit" class="inline-block text-white bg-red-500 hover:bg-red-600 focus:ring-red-200focus:ring-3 rounded px-2.5 py-1.5 text-sm" />
                                </form>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </body>
</html>
