<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}">
    <head>
        <title th:text="#{eventsPermission.list.headline}" />
    </head>
    <body>
        <div layout:fragment="content">
            <div class="flex flex-wrap mb-6">
                <h1 th:text="#{eventsPermission.list.headline}" class="grow text-3xl md:text-4xl font-medium mb-2" />
                <div>
                    <a th:href="@{/eventsPermissions/add}" th:text="#{eventsPermission.list.createNew}" class="inline-block text-white bg-blue-600 hover:bg-blue-700 focus:ring-blue-300  focus:ring-4 rounded px-5 py-2" />
                </div>
            </div>
            <div th:if="${eventsPermissions.empty}" th:text="#{eventsPermission.list.empty}" />
            <div th:if="${!eventsPermissions.empty}" class="overflow-x-auto">
                <table class="w-full">
                    <thead>
                        <tr>
                            <th th:text="#{eventsPermission.permissionID.label}" scope="col" class="text-left p-2" />
                            <th th:text="#{eventsPermission.attestedBy.label}" scope="col" class="text-left p-2" />
                            <th th:text="#{eventsPermission.grantedBy.label}" scope="col" class="text-left p-2" />
                            <th th:text="#{eventsPermission.permissiongrantedby.label}" scope="col" class="text-left p-2" />
                            <th th:text="#{eventsPermission.permissionattestedby.label}" scope="col" class="text-left p-2" />
                            <th th:text="#{eventsPermission.membertakespermission.label}" scope="col" class="text-left p-2" />
                            <th><!-- --></th>
                        </tr>
                    </thead>
                    <tbody class="border-t-2 border-black">
                        <tr th:each="eventsPermission : ${eventsPermissions}" class="odd:bg-gray-100">
                            <td th:text="${eventsPermission.permissionID}" class="p-2" />
                            <td th:text="${eventsPermission.attestedBy}" class="p-2" />
                            <td th:text="${eventsPermission.grantedBy}" class="p-2" />
                            <td th:text="${eventsPermission.permissiongrantedby}" class="p-2" />
                            <td th:text="${eventsPermission.permissionattestedby}" class="p-2" />
                            <td th:text="${eventsPermission.membertakespermission}" class="p-2" />
                            <td class="p-2">
                                <form th:action="@{/eventsPermissions/delete/{permissionID}(permissionID=${eventsPermission.permissionID})}" th:data-confirm-message="#{delete.confirm}" method="post" class="js-submit-confirm float-right">
                                    <a th:href="@{/eventsPermissions/edit/{permissionID}(permissionID=${eventsPermission.permissionID})}" th:text="#{eventsPermission.list.edit}" class="inline-block text-white bg-sky-500 hover:bg-sky-600 focus:ring-sky-200focus:ring-3 rounded px-2.5 py-1.5 text-sm" />
                                    <button th:text="#{eventsPermission.list.delete}" type="submit" class="inline-block text-white bg-red-500 hover:bg-red-600 focus:ring-red-200focus:ring-3 rounded px-2.5 py-1.5 text-sm" />
                                </form>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </body>
</html>
