<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}">
    <head>
        <title th:text="#{faculty.list.headline}" />
    </head>
    <body>
        <div layout:fragment="content">
            <div class="flex flex-wrap mb-6">
                <h1 th:text="#{faculty.list.headline}" class="grow text-3xl md:text-4xl font-medium mb-2" />
                <div>
                    <a th:href="@{/facultys/add}" th:text="#{faculty.list.createNew}" class="inline-block text-white bg-blue-600 hover:bg-blue-700 focus:ring-blue-300  focus:ring-4 rounded px-5 py-2" />
                </div>
            </div>
            <div th:if="${facultys.empty}" th:text="#{faculty.list.empty}" />
            <div th:if="${!facultys.empty}" class="overflow-x-auto">
                <table class="w-full">
                    <thead>
                        <tr>
                            <th th:text="#{faculty.facultyId.label}" scope="col" class="text-left p-2" />
                            <th th:text="#{faculty.department.label}" scope="col" class="text-left p-2" />
                            <th th:text="#{faculty.phoneNo.label}" scope="col" class="text-left p-2" />
                            <th th:text="#{faculty.emailId.label}" scope="col" class="text-left p-2" />
                            <th th:text="#{faculty.qualification.label}" scope="col" class="text-left p-2" />
                            <th th:text="#{faculty.name.label}" scope="col" class="text-left p-2" />
                            <th th:text="#{faculty.facultycounselsverticalss.label}" scope="col" class="text-left p-2" />
                            <th><!-- --></th>
                        </tr>
                    </thead>
                    <tbody class="border-t-2 border-black">
                        <tr th:each="faculty : ${facultys}" class="odd:bg-gray-100">
                            <td th:text="${faculty.facultyId}" class="p-2" />
                            <td th:text="${faculty.department}" class="p-2" />
                            <td th:text="${faculty.phoneNo}" class="p-2" />
                            <td th:text="${faculty.emailId}" class="p-2" />
                            <td th:text="${faculty.qualification}" class="p-2" />
                            <td th:text="${faculty.name}" class="p-2" />
                            <td th:text="${faculty.facultycounselsverticalss}" class="p-2" />
                            <td class="p-2">
                                <form th:action="@{/facultys/delete/{facultyId}(facultyId=${faculty.facultyId})}" th:data-confirm-message="#{delete.confirm}" method="post" class="js-submit-confirm float-right">
                                    <a th:href="@{/facultys/edit/{facultyId}(facultyId=${faculty.facultyId})}" th:text="#{faculty.list.edit}" class="inline-block text-white bg-sky-500 hover:bg-sky-600 focus:ring-sky-200focus:ring-3 rounded px-2.5 py-1.5 text-sm" />
                                    <button th:text="#{faculty.list.delete}" type="submit" class="inline-block text-white bg-red-500 hover:bg-red-600 focus:ring-red-200focus:ring-3 rounded px-2.5 py-1.5 text-sm" />
                                </form>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </body>
</html>
